---
title: Tags
layout: page
description: ""
header-img: "img/tag-bg.jpg"
---

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 ">
            <!-- 标签云 -->
			<div id='tag_cloud' class="tags">
				{% for tag in site.tags %}
				<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
				{% endfor %}
			</div>

            <!--<blockquote class="tag-comments">
                标签命名规范：
                    <li>行业观察、职位、公司优先使用中文</li>
                    <li>外国产品、术语优先使用英文</li>
            </blockquote>-->

            <!-- 标签列表 -->
			{% for tag in site.tags %}
			<div class="one-tag-list">
			  	
				<fieldset class="layui-elem-field layui-field-title">

					<legend>
						<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}"></span>
						<span>{{ tag[0] }}</span>
					</legend>
				</fieldset>
				<blockquote class="layui-elem-quote">
					{% for post in tag[1] %}							
						<h3><a href="{{post.url|prpend:site.baseurl}}"><i class="layui-icon layui-icon-read"></i>{{post.title}}</a></h3>				
					{% endfor %}
				</blockquote>			
				<hr>
			</div>
			{% endfor %}

		</div>
	</div>
</div>
